<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content=""IE="edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>To-Do lists</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script>
            var csrftoken = Cookies.get('csrftoken');
            function csrfSafeMethod(method) {
                // these Http methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>
        <script>
            <!-- Takes a handler that is executed when the DOM hierarchy has been fully constructed. -->
            $(document).ready(function(){
                {% block domready %}
                {% endblock %}
            });
        </script>
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/base.css">
    </head>
    <body>
        <div class="container">
            <div class="col-md-6 col-md-offset-3 jumbotron">
                <div class="text-center">
                    <h1>{% block header_text %}{% endblock %}</h1>
                    <form method="POST" action="{% block form_action %}{% endblock %}" novalidate>
                        {{ form.text }}
                        {% csrf_token %}
                        {% if error %}
                            <div class="form-group has-error">
                                <span class="help-block">{{ error }}</span>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% block table %}
                    {% endblock %}
                </div>
            </div>

            <a href="#" class="text-primary bg-success like">like</a>
        </div>
    </body>
</html>
